* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    font-weight: 400;
    
}

li {
    list-style-type: none;
}

button {
    background: unset;
    border: unset;
    color: unset;
    cursor: pointer;
}

input,
input:focus{
    border: none;
    outline: none;
    background: transparent;
    
}

button,
textarea,
select {
    margin: 0;
    font: inherit;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
}